body{
    
}



.container-fluid{
    background-color: #47C66D;
}

.quem-somos{
    background-color: #E8F8CC;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}

.margin{
    padding-top: 10px;
    padding-bottom: 50px;
}

.parceiros{
    background-color: #47C66D;
    /*#CACFD2;*/
}

.servicos{
    background-color: #E8F8CC ;
}

.bg-footer{
    background-color: black;
    color: white;
}   